.panel-button {
  position: absolute;
  left: -37px;
  top: 75px;

  button {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 8px;
  }
}

.panel {
  border-left: 1px solid #ebebeb;
  height: 100%;
  position: fixed;
  margin-right: -250px;
  background-color: #fff;
  transition: 0.5s;
  right: 0;
  top: 0;
  width: 250px;
  z-index: 0;
}

.panel.is-open {
  margin-right: 0;
  transition: .5s;
}


.panel-nav {
  margin-top: 70px;
}

.panel-container {
  font-size: 12px;
}

.panel-card {
  padding: 10px;
  cursor: pointer;
}

.panel-card:hover {
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.card-title {
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
}

.card-format {
  display: block;
  width: auto;
  height: 100px;
  margin: 0 auto;
  text-align: center;

  img {
    width: 150px;
    height: 100px;
  }
}