.panel-button {
  position: absolute;
  top: 75px;
  left: -37px;

  button {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 8px;
    color: #000 !important;
  }

  button:hover{
    color: #000 !important;
  }
}

.pixgen-panel {
  border-left: 1px solid #ebebeb;
  height: 100%;
  position: absolute;
  margin-right: -250px;
  background-color: #fff;
  transition: 0.5s;
  min-width: 250px;
  max-width: 250px;
  right: 0;
  z-index: 0;
}

.pixgen-panel.is-open {
  margin-right: 0;
  transition: .5s;
}

.panel-nav {
  margin-top: 70px;
  overflow-x: auto;
  height: 90%;
}

.pixgen-dropdown {
  button {
    width: 100%;
  }
  button:focus {
    background-color: #ffffff !important;
    color: #212529 !important;
  }
  .dropdown-menu {
    width: 100%;
  }
}

.panel-container {
  font-size: 12px;
}

.format-card {
  cursor: pointer;
}


.format-card:hover {
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.format-body {
  padding: 10px; 
}

.format-footer {
  background: #fff;
  text-align: center;
}
.format-title {
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
}

.format-content {
  display: block;
  width: auto;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  position: relative;

  img {
    height: 100px;
  }
}

.format-price {
  background: #ffff;
  position: absolute;
  bottom: -25px;
  right: -5px;
  font-weight: bold;
  font-size: 16px;
  color: #a10101;
  padding: 0;
}