.preview-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
  padding: 5px 3px;
  transition: 0.5s;

  button {
    background-color: #fff;
  }
}

.preview-button.panel-open {
  right: 255px;
  transition: .5s;
}

.preview-modal {
  .modal-dialog {
    width: 100%;
    height: 100vh;
  }
  .modal-content {
    height: auto;
    min-width: 800px;
    min-height: 100%;
    border-radius: 0;
  }
}