.carousel-content {
  display: block;
  width: 400px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.carousel-tags {
  position: absolute;
  top: 25px;
  right: -25px;
  font-weight: bold;
  font-size: 18px;
  color: #a10101;
}

.carousel-option {
  margin: 0 25%;
  text-align: center;
  
  button {
    margin: 0 10px;
  }
}

.carousel-img {
  max-height: 280px;
}