.carousel-content {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.carousel-tags {
  position: absolute;
  top: 25px;
  right: -25px;
  font-weight: bold;
  font-size: 18px;
  color: #a10101;
}

.carousel-option {
  text-align: center;
  
  button {
    margin: 0 2px;
  }
}

.carousel-img {
  max-height: 280px;
}

@media (max-width: 480px) {
  .carousel-option {
    
    button {
      font-size: 8px;
    }
  }

  .carousel-tags {
    display: none;
  }
}

@media (min-device-width : 768px) and (max-device-width : 1024px) {
  .carousel-tags span {
    display: none;
  }
}