.carousel-content {
  display: block;
  width: 400px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.carousel-option {
  padding-top: 10px;
  margin: 0 25%;
  text-align: center;
  
  button {
    margin: 0 10px;
  }
}