.pixgen-navbar {
  z-index: 1;
}

.switch-mode {
  padding-top: 5px;
  margin-right: 10px;

  label {
    font-size: 12px;
  }
}

.font-style-dropdown {
  button:focus {
    background-color: #ffffff !important;
    color: #212529 !important;
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  .switch-mode {
    display: none;
  }
  .pixgen-navbar {
    button {
      font-size: 10px;
    }
  }
  .pixgen-nav {
    align-items: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .font-style-dropdown {
    button {
      font-size: 10px;
    }
  }
}