.parent {
  background-color: red;
  display: block;
  width: 100px;
  height: 100px;
  padding: 10px;
  text-align: center;
  line-height: 100px;
  overflow: hidden;
}
.child {
  display: inline-block;
  white-space: nowrap;
}