.list-icon {
  margin-left: 5px !important;
  margin-right: 5px;
}

.input-container {
  max-height: 70%;
  overflow: auto;
}

.dropdown-wrapper {
  display: flex;
}

.icon-input:hover {
  cursor: pointer !important;
  background-color: #fff !important;

}

.btn-icon-spinner {
  width: 65px !important;
  height: 32px !important;
}

.pixremove-button {
  padding: 0 10px 0 0;
}

.pixadd-button {
  margin-top: 10px;
}

.list-icon {
  button {
    padding: 0 10px !important;
  }
}

.icon-placeholder {
  float: left;
  padding: 0.9rem 1.45rem;
  font-size: 1.3rem;
}

.input-focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.input-overlap-error {
  outline: none;
  box-shadow: 0 0 0 1px rgba(240, 0, 0, 0.4);
}

.error-overlap .tooltip-inner {
  background-color: #b60000;
}

.error-overlap .tooltip-arrow::before {
  border-right-color: #b60000;
}

.pix-field {
  .input-group {
    span {
      position: absolute;
      top: 8px;
      right: 10px;
      cursor: pointer;
    }
  }
}

.greyed-out {
  background: #fff;
}

.pixgen-word-entry {
  padding: 0.5rem 0.5rem !important;
}

.pixgen-dropdown-btn:focus, .pixgen-dropdown-btn:hover {
  border: 1px solid #fff !important;
  background-color: #fff !important;
}

.dropdown-toggle::after {
  color: #000;
}