.list-icon {
  margin-right: 5px;
}

.input-container {
  max-height: 680px;
  overflow: auto;
}

.dropdown-wrapper {
  display: flex;
}

.icon-input:hover {
  cursor: pointer !important;
  background-color: #fff !important;

}

.btn-icon-spinner {
  width: 95px !important;
  height: 66px !important;
}

.list-icon {
  button {
    padding: 2px 10px !important;
  }
}

.icon-placeholder {
  float: left;
  padding: 0.9rem 1.45rem;
  font-size: 1.3rem;
}

.pix-input {
  font-size: 1.3rem;
  line-height: 2.5;
}

.input-focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.greyed-out {
  background: #e9ecef;
}