.list-icon {
  margin-right: 5px;
}

.input-container {
  max-height: 70%;
  overflow: auto;
}

.dropdown-wrapper {
  display: flex;
}

.icon-input:hover {
  cursor: pointer !important;
  background-color: #fff !important;

}

.btn-icon-spinner {
  width: 65px !important;
  height: 32px !important;
}

.pixremove-button {
  padding: 0 10px 0 0;
}

.pixadd-button {
  margin-top: 10px;
}

.list-icon {
  button {
    padding: 0 10px !important;
  }
}

.icon-placeholder {
  float: left;
  padding: 0.9rem 1.45rem;
  font-size: 1.3rem;
}

.input-focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.greyed-out {
  background: #fff;
}
