.pix-editor-canvas {
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 2px;
  width: fit-content;
  background-color: white;
}

.pix-canvas {
  display: flex;
}

.pix-item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.pix-content {
  cursor: grab;
  flex-grow: 1;
  min-width: 0;
  line-height: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;    
}

.pix-content-selected {
  outline: dashed 1px #0e6ffd;
  filter: brightness(0.85);
}

.pix-content-target {
  background-color: #7aafff;
}

.pix-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-screen {
  border: 1px dotted #a5a5a5;
}

.pix-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pix-title {
  cursor: grab;
  flex-grow: 1;
  min-width: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pix-title-selected {
  outline: dashed 1px #0e6ffd;
}

.item-wrapper {
  display: flex;
  max-width: 370px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.icon-image {
  max-height: 1.5ex;
  margin-bottom: 0.5ex;
  margin-left: 0.1ex;
}

table {
  width: 100%;
  white-space:nowrap;
}

table td {
  text-align: center;
}

table td:hover {
  background-color: #f3f3f3;
  outline: dashed 1px #979797;
}

.drop-container:hover {
  background-color: #d4d4d4;
}

.pix-loader {
  display: flex;
  justify-content: center;
}

.pixgen-table {
  background-color: transparent !important;
  border: none !important;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0 !important;
  font-size: unset !important;

  tbody>tr:nth-child(odd)>td,table tbody>tr:nth-child(odd)>th {
    background-color: transparent;
  }

  td {
    padding: 0;
    line-height: 0 !important;
    vertical-align: unset !important;
    border: none !important;
  }
}

.crossed {
  position:   relative;
  background:  linear-gradient(to right top, #ffffff 0%,#ffffff 49.9%,#ff0000 50%,#ff0000 51%,#ffffff 51.1%,#ffffff 100%) !important;
  background-color: transparent;
  background-image: none !important;
}

/* The real diagonal line */
.crossed:after{
  content:     "";
  display:     block;
  position:    absolute;
  width: 98%;
  height: 95%;
  top: 1px;
  left: 1px;
  z-index:     1;
  /* Rising diagonal line */
  background: linear-gradient(to right bottom, white, white 48%, red 49%, red 51%, white 52%, white) !important;
  /* Falling diagonal line */
  background: linear-gradient(to right top, white, white 48%, red 49%, red 51%, white 52%, white) !important;  
}

.pixcolor-container {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;

  input {
    width: 100%;
  }
}