.App {
  display: flex;
  width: 100%;
  background: #dadce0;
  align-items: stretch;
}

@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';
@import 'https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700';

body {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Nunito Sans', sans-serif;
  /*background: #fafafa;*/
  background-color: #f5f9fc;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}
.config {
  min-width: 300px;
  max-width: 300px;
  background: #fff;
  color: #adb5bd;
  margin-left: -300px;
  transition: all 0.5s;
}

.nav-input-layout {
  width: 200px;
  margin-left: 5px;
}

.nav-input-config {
  width: 150px;
  margin-left: 5px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 400px;
  max-width: 400px;
  background: #fff;
  color: #adb5bd;
  margin-left: -400px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #fff;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  /* color: #adb5bd; */
}

.sidebar-header h3 {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 600;
  color: #c60055;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show,
.collapsing {
  background: #fff;
}

.nav-item {
  /*color: #ced4da;*/
  color: #adb5bd;
  font-weight: 300;
}

.nav-item.open {
  color: #e9ecef;
  background: #fff;
}

.nav-item.active {
  color: #e9ecef;
  background: #fff !important;
}

.nav-item:hover {
  background: #fff;
  color: #fff;
  transition: 0.2s;
}

.nav-item .svg-inline--fa {
  color: inherit;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > button {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  margin-left: 0;
  height: 100vh;
  padding: 0 !important;
}

@media only screen and (max-width: 575.98px) {
  body {
    overflow: hidden;
  }

  .content.is-open {
    /*margin-left: 100%;*/
    display: none;
    transition: all 0.5s;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    height: 100vh !important;
  }

  .sidebar.is-open > .sidebar-header button {
    display: block;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

.nav-links:hover {
  background-color: #fff;
}

.toolbar-btn:hover {
  background-color: #21252945 !important;
}

.toolbar-btn.active {
  background-color: #21252945 !important;
}

.list-icon {
  margin-left: 5px !important;
}

.dropdown-menu {
  min-width: auto !important;
}

.dropdown-toggle:hover {
  background-color: #21252945 !important;
}

.dropdown-toggle:active {
  background-color: #21252945 !important;
}

.dropdown-item.active {
  background-color: #cddcf2;
}

.btn.show {
  background-color: #21252945 !important;
}

.comfortaa {
  font-family: 'Comfortaa-Wordpix';
}

.italianno {
  font-family: 'Italianno-Wordpix';
}

.marqueeMoon {
  font-family: 'MarqueeMoon-Wordpix';
}

.mexcellent {
  font-family: 'Mexcellent-Wordpix';
}

.stripey {
  font-family: 'Stripey-Wordpix';
}
